# analyse

In [1]:
import pandas as pd

In [6]:
team=pd.read_csv("team_activity.csv")

In [4]:
analyse=pd.read_csv("workday_context.csv")
analyse

           date  hours_worked  break_minutes  sleep_hours
0    2026-01-01           6.4             90          7.1
1    2026-01-02           7.2             47          5.9
2    2026-01-03           8.6            100          7.5
3    2026-01-04           7.3             58          7.6
4    2026-01-05           6.0             86          5.0
..          ...           ...            ...          ...
127  2026-05-13           7.8             60          7.4
128  2026-05-14           8.9             66          6.6
129  2026-05-17           6.8             33          7.1
130  2026-05-19           7.3             78          8.6
131  2026-05-20           9.2             62          9.4

[132 rows x 4 columns]

In [33]:
df=pd.merge(
    team,
    analyse,
    on="date",
    how="inner"
)
df['date'] = df['date'].astype("datetime64[ns]")
print(df.dtypes)
df["date"].dt.weekday
#df

date               datetime64[ns]
tasks_completed             int64
focus_score               float64
meetings_count              int64
music_playing               int64
hours_worked              float64
break_minutes               int64
sleep_hours               float64
dtype: object

0      3
1      4
2      5
3      6
4      0
      ..
122    2
123    3
124    6
125    1
126    2
Name: date, Length: 127, dtype: int32

In [12]:
df.groupby("music_playing")["tasks_completed"].mean()

music_playing
0.0    1.934426
1.0    2.383562
Name: tasks_completed, dtype: float64

In [14]:
df.groupby("meetings_count")["focus_score"].mean()

meetings_count
0.0    3.075000
1.0    2.714286
2.0    2.444444
3.0    2.000000
4.0    1.000000
5.0    1.500000
Name: focus_score, dtype: float64

In [35]:
df.groupby(df["date"].dt.strftime("%W"))["tasks_completed"].mean()

date
00    2.500000
01    1.714286
02    2.166667
03    1.166667
04    3.000000
05    2.166667
06    1.500000
07    2.142857
08    2.571429
09    3.142857
10    2.250000
11    2.833333
12    1.857143
13    1.857143
14    0.666667
15    2.428571
16    1.666667
17    2.571429
18    1.857143
19    2.800000
20    4.000000
Name: tasks_completed, dtype: float64